#game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid red;
}

.separator {
    background-image: url(/assets/images/panel-vertical.png);
    height: 100vh;
    width: 16px;
    background-color: brown;
}
