#store {
    border: 1px solid yellow;
    min-width: 150px;
    max-width: 300px;
    padding-top: 15px;
    height: 100vh;
    flex: 3;
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: green;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
}

/* le séparateur avec le texte BUILDINGS */
#buildings::before {
    background-image: url(/assets/images/panel-horizontal.png);
    margin-top: 15px;
    min-height: 16px;
    content: '';
    display: block;
}

#buildings:hover::before {
    display: block;
    text-align: left;
    /* display: flex;
    justify-content: flex-start;
    align-items: space-around; */
    content: 'Buildings';
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px #000000;
    text-shadow: 0px 1px 4px #000000;
    /* transition: 3s ease; */
}

/*les tuiles*/
/*les tuiles unlocked*/
#buildings ~ div {
    position: relative;
    background-image: url(/assets/images/store-tile.jpg);
    cursor: pointer;
    height: 25vh;
    z-index: 0;
    border: 1px solid red;
}

/*les tuiles locked*/
#buildings ~ div .icon {
    position: absolute;
    background-image: url(/assets/images/buildings.png);
    background-position-x: 35%;
    height: 25vh;
    width: 5vw;
    border: 1px solid blue;
    z-index: 1;
}

#building-grandma .icon {
    background-position-y: 6%;
}


.disabled .cost {
    color: #ff6666;
    z-index: 1;
}

#buildings ~ div::before {
    opacity: 70%;
}
